/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo-img {
    width: 60px;
    height: 60px;
}

header .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Añado bloque para que queden juntos */
header .user-guest,
header .user-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header .avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

/* Tengo que cambiar el dropdown */
header .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
}

header .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

header .dropdown:hover .dropdown-content {
    display: block;
}

header .dropdown-content button {
    background-color: white;
    color: #333;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

header .dropdown-content button:hover {
    background-color: #f04e47;
    color: white;
}

header button {
    background-color: #f04e47;
    width: 100px;
    height: 50px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

header button:hover {
    background-color: #d43e36;
}

/* Main Content */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search-section {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.search-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    /* Scrolling */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.search-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.search-box div {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

.search-box select,
.search-box button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.profile {
    width: 300px;
    border-radius: 20px;
    border: 2px solid #000000;
    display: inline-block;
    margin-right: 50px;
    /*margin-bottom: 30px;*/
}

/* div element containing the profile picture */
.profile .profile-img {
    width: 100%;
    border-bottom: 2px solid #000000;
}

.profile .profile-img img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.profile #name-age .name {
    font-weight: bold;
}

/* Footer */
footer {
  background-color: white;
  padding: 35px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 15px;  /* Espacio entre los elementos */
}

.copyright, .members {
  margin: 0;
  font-size: 12px;
}


